@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

body{
    //background-color: #000;
    background: linear-gradient(#0f2027, #203a43, #2c5364);
    color: white;
    font-family: 'Quicksand', sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    text-align: left;
    padding: 65px;
}

.header_heading span{
    display:block;
}

.header_title{
    font-weight:400;
}

.main_description {
    max-width:20em;
    font-size: 2rem;
}

.link {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
}

#s1, .header_heading{
    margin-bottom: 350px;
}

#s1{
    display: flex;
    padding: 70px;
}

.footer{
    margin-top: 100px;
}

#fp-nav ul li a span, .fp-sliedesNav ul li a span {
    background: white !important;
}